<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="public/bootstrap.css">
    <title>XssMe</title>
  </head>
  <body>
    <h1>BOT Visit Done! Here is the result:</h1>
    <img src="data:image/png;base64, <%= base64Img %>"/>
  </body>
</html>
